*$py.class
*.bridgesupport
*.cover
*.css.map
*.egg
*.egg-info/
*.gem
*.lcov
*.log
*.log
*.manifest
*.mo
*.pid
*.pid.lock
*.pot
*.py,cover
*.py[cod]
*.rbc
*.sage.py
*.sass.map
*.scss.map
*.seed
*.so
*.spec
*.tgz
*.tsbuildinfo
.DS_Store
.Python
.bundle/
.byebug_history
.cache
.cache/
.coverage
.coverage.*
.dat*
.dmypy.json
.docusaurus
.dynamodb/
.eggs/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.jekyll-cache/
.jekyll-metadata
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.parcel-cache
.pdm.toml
.pnp.*
.pnpm-debug.log*
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.repl_history
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.rvmrc
.sass-cache/
.scrapy
.serverless/
.spyderproject
.spyproject
.stylelintcache
.temp
.tern-port
.tox/
.venv
.vscode-test
.vuepress/dist
.webassets-cache
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/site
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
ENV/
MANIFEST
Thumbs.db
__pycache__/
__pypackages__/
_site/
bower_components
build-iPhoneOS/
build-iPhoneSimulator/
build/
build/Release
celerybeat-schedule
celerybeat.pid
cover/
coverage
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
logs
node_modules/
nosetests.xml
npm-debug.log*
out
package-lock.json
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
profile_default/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
share/python-wheels/
target/
var/
vendor/
venv.bak/
venv/
web_modules/
wheels/
yarn-debug.log*
yarn-error.log*