html {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.615;
  display: flex;
  margin: 0;
  padding: 0;

  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
  -ms-overflow-style: scrollbar;
  flex-wrap: wrap;
}

article {
  display: block;
  margin: 0 auto;
}

pre {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.05);
}

code {
  font-family: "IBM Plex Mono", monospace;
}

a {
  color: blue;
}

pre {
  padding: 1em 1.4em;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-radius: 2em;
  height: 46px;
  line-height: 44px;
  font-size: 1rem;
  padding: 0 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .button {
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding: 0 1.2rem;
    line-height: 54px;
    height: 56px;
  }
}

blockquote {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.615;
  padding: 1rem;
  margin: 0;
  border: 1px solid;
  border-top: 0px solid;
  width: 100%;
  position: relative;
}

blockquote:before,
blockquote:after {
  content: "";
  display: block;
  width: 1rem;
  height: calc(100% - 2rem);
  background-color: rgba(0, 0, 255, 0.1);
  position: absolute;
  top: 1rem;
  bottom: 0;
  z-index: -1;
}

blockquote:before {
  border-right: 1px solid blue;
  left: 0;
}
blockquote:after {
  border-left: 1px solid blue;
  right: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

a[href^="#tab-"] {
  display: inline-block;
  margin-bottom: -1px;
  padding: 0;
  padding: 0.5em 1.4em;
  text-decoration: underline;
  color: blue;
  border: 1px solid transparent;
}

.demo {
  display: block;
}

@media (max-width: 992px) {
  .demo {
    order: -1;
  }
}

a[href^="#tab-"][data-active="true"] {
  text-decoration: none;
  color: inherit;
  border: 1px solid;
  border-bottom: 1px solid #fff;
}

.demo p:first-child {
  margin-top: 0;
}

h1,
h2 {
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  margin: 2em 0 1em;
}

.tabs {
  display: flex;
  padding-bottom: 0 !important;
}

.tabs > * {
  max-width: 12.5em;
  flex-basis: 50% 0 0;
}

.tabs a {
  cursor: pointer;
  text-decoration: none;
}
.tabs a[data-active="false"] {
  color: #999;
}
h1,
h2,
.tabs {
  font-size: 1rem;
  margin: 0;
  padding: 1em 0;
  border-bottom: 1px solid;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  body > * {
    width: 50%;
    padding: 1.4em 2.8em 10em;
    flex-shrink: 0;
  }
}

@media (max-width: 992px) {
  html {
    padding: 1rem;
  }

  body > * {
    width: 100%;
    flex-shrink: 0;
  }
}

ul {
  list-style: inside;
}

ul,
li {
  margin: 0;
  padding: 0;
  padding-left: 1.2em;
}

li {
  padding-left: 1em;
}

ul ul {
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 1rem 0 0.25rem;
  text-transform: uppercase;
  color: grey;
}

h5 + pre {
  margin-top: 0;
}

pre {
  background-color: #f6f8fa;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: #333;
}

.hljs-comment,
.hljs-quote {
  font-style: italic;
  color: #998;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #d73a49;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #032f62;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  font-weight: bold;
  color: #900;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  font-weight: bold;
  color: #458;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  font-weight: normal;
  color: #000080;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #005cc5;
}

.hljs-meta {
  font-weight: bold;
  color: #999;
}

.hljs-deletion {
  background-color: #fdd;
}

.hljs-addition {
  background-color: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.d-none {
  display: none;
}

@media (min-width: 992px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
